{{#each recipeData}}
  <div class="card m-3 {{recipeIngredient}} d-none" style="width: 10rem;">
    {{#if image}}
    <div class="card-image" data-image="{{image.[0]}}" style="background-image: url('{{image.[0]}}'); background-size: cover; height: 150px; position: relative;">
      <h2 type="submit" class="favorite">&#10084;</h2>
    </div>
    <!--<img class="card-img-top" src={{image.[0]}} src={{image}} alt={{name}}> -->
    {{else}}
    <div class="card-image" data-image="" style="height: 150px; position: relative;">
      <h2 type="submit" class="favorite">&#10084;</h2>
      <i>No image available.</i>
    </div>
    {{/if}}
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <a href="{{url}}" target="_blank" class="btn btn-primary">View</a>
    </div>
  </div>
{{/each}}
<script src="/javascript/favoritebtn.js"></script>